<app-navbar class="fixed top-0 w-full"></app-navbar>

<p class="text-3xl text-center font-serif pt-32">NEW PASSWORD ENVIROINMENT</p>

<form [formGroup]="newPasswordEnterForm" (ngSubmit)="onNewPasswordSubmit()"
    class="w-[30%] h-[400px] flex flex-col bg-sky-600 mx-[35%] mt-12 rounded-xl shadow-2xl px-10 justify-evenly
    max-sm:w-[90%] max-sm:mx-4 md:w-[80%] md:mx-20 md:px-28 lg:w-[60%] lg:mx-[20%] xl:w-[40%] xl:mx-[30%] 2xl:w-[35%] xl:px-20 2xl:px-18 2xl:mx-[33%]">

    <p class="text-white text-xl">😊Your Email Id Has Been Verified</p>

    <label class="text-xl text-white font-serif">ENTER YOUR NEW PASSWORD</label>

    <div class="flex space-x-1">

        <input type="{{passtype}}" name="newPassword" formControlName="newPassword" 
        class="border-black border-2 rounded-xl w-full h-14 px-3 max-sm:w-[95%]" placeholder="Enter your New Password">

        <div *ngIf="show then showeye else hideeye" [(ngModel)]="show"></div>
        
        <ng-template #showeye>

            <a (click)="passworShowOrNot()" class="mt-4 w-7 h-8 absolute left-[59%] max-sm:left-[65%] md:left-[68%] lg:left-[63%] xl:left-[58%] 2xl:left-[60%]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg></a>

        </ng-template>

        <ng-template #hideeye>

            <a (click)="passworShowOrNot()" class="mt-4 w-7 h-8 absolute left-[59%] max-sm:left-[65%] md:left-[68%] lg:left-[63%] xl:left-[58%] 2xl:left-[60%]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
            </svg></a>

        </ng-template>
    </div>

    <button class="bg-black text-white w-20 h-10 rounded-full hover:bg-white hover:text-blue-900 hover:font-bold py-2 mx-[40%] max-sm:mx-[30%]">
        Submit
    </button>

</form>